<div class="bg-white text-primary h-[100vh] flex items-center justify-center flex-col">
    <span class="text-3xl mb-3">
        <strong>
            PCMO
        </strong>
    </span>
    <div class="login-container w-full px-3 sm:w-[350px] " [formGroup]="formGroup">
        <input nz-input placeholder="Username" type="text" formControlName="username"/>
        <span>
            <span class="text-red-500 text-xs" *ngIf="formGroup.get('username')!.touched && formGroup.get('username')!.hasError('email')">
                Pls enter a valid email
            </span>
        </span>
        <input class="mt-2 mb-2" nz-input placeholder="Password" type="password" formControlName="password"/>
        <span class="text-xs">
            No Account? Create <span class="underline cursor-pointer" (click)="showSignUp()">here</span> 
        </span>
        <div class="text-right w-full">
            <button (click)="login()" class="w-28 self-center text-white py-1 rounded-sm" 
                [disabled]="!formGroup.valid"
                [ngClass]="{ 'bg-gray-400': !formGroup.valid, 'bg-primary': formGroup.valid }">Log In</button>
        </div>
    </div>
</div>

<app-signup #signUp [formGroup]="signUpFormGroup" (register)="onRegister($event)"></app-signup>