<nz-modal [(nzVisible)]="isVisible" nzTitle="Sign Up" nzClosable="false" nzCentered [nzFooter]="modalFooter">
    <ng-container *nzModalContent>
      <div [formGroup]="formGroup">
        <span class="flex justify-between mb-2">

            <input nz-input placeholder="First Name" type="text" formControlName="firstName" class="mr-2"
                [ngClass]="{'border-red-400': formGroup.get('firstName')!.touched && formGroup.get('firstName')!.hasError('required')}"/>

            <input nz-input placeholder="Last Name" type="text" 
                formControlName="lastName"
                [ngClass]="{
                    'border-red-400': formGroup.get('lastName')!.touched 
                    && formGroup.get('lastName')!.hasError('required')
                }"/>

        </span>
        <input nz-input placeholder="Username" type="text" formControlName="username" class="mb-2"
            [ngClass]="{'border-red-400': formGroup.get('username')!.touched && formGroup.get('username')!.hasError('required')}"/>
        <nz-input-group [nzSuffix]="suffixIconEye" [ngClass]="{'border-red-400': formGroup.get('password')!.touched && formGroup.get('password')!.hasError('required')}">
            <input nz-input placeholder="Password" [type]="passwordtype" formControlName="password"/>
          </nz-input-group>
          <ng-template #suffixIconEye>
            <span nz-icon (click)="toggleShow()" [nzType]="!hide ? 'eye' : 'eye-invisible'" nzTheme="outline"></span>
          </ng-template>
      </div>
    </ng-container>

    <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="handleCancel()" class="bg-red-500 text-white py-1 mr-2 px-4 rounded-sm">Cancel</button>
        <button nz-button nzType="primary" (click)="handleOk()" class="bg-primary text-white py-1 px-4 rounded-sm">Submit</button>
      </ng-template>
  </nz-modal>